.example-card {
    max-width: 400px;
    margin: auto;
    background-color: #de704b;
  }

.cont {
    margin: auto;
}

.main-div{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
