.example-card {
    max-width: 400px;
    margin: auto;
    background-color: #d4a821;
  }

.cont {
    margin: auto;
}
.main-div{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #c99718; */
}

.btn-center{
  margin: 0 auto;
  display: flex;
}
